 
h1 {
   font-family: 'Cairo', sans-serif;
}
h2 {
   font-family: 'Cairo', sans-serif;
}
h3 {
font-family: 'Cairo', sans-serif;
}
h4 {
   font-family: 'Cairo', sans-serif;
}
h5 {
   font-family: 'Cairo', sans-serif;
}
h6 {
   font-family: 'Cairo', sans-serif;
}

p{
   font-family: 'Cairo', sans-serif;
}
span{
   font-family: 'Cairo', sans-serif;
}

strong{
    font-family: 'Cairo', sans-serif;
}
del {
   font-family: 'Cairo', sans-serif;
}
b{
   font-family: 'Cairo', sans-serif;
}
a {
    font-family: 'Cairo', sans-serif !important;
}
div {
    font-family: 'Cairo', sans-serif;
}